.client-list {
  display: flex;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;

  & > li:not(:last-child) {
    margin-right: 30px;
  }
}

.link-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 170px;
  border: 1px solid #84868b;
  box-sizing: border-box;
  border-radius: 4px;
  color: $svg-social-client-color;
  transition: border-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent;
    color: $accent;
  }

  .icon-clients {
    display: block;
    margin: auto;
    fill: currentColor;
  }
}
