body {
  background-color: $white-text-background-color;
  color: $primary-text-color;
  font-family: $main-font-family;
  letter-spacing: 0.03em;
  margin: 0px;
}

ul {
  list-style: none;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* section title */

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  .section-title {
    margin-top: 0px;
    margin-bottom: 50px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}
